@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@300;400;900&display=swap');

*{
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}

body{
    font-family: 'Roboto', sans-serif;
}

.nav{
    background-color: #251D3A;
    height: 80px;
    color: #fff;
}

.nav__contenedor{
    display: flex;
    height: 100%;
    width: 90%;
    margin: 0 auto;
    justify-content: space-between;
    align-items: center;
}

.nav__label, .nav__input{
    display: none;
}

.nav__menu{
    display: grid;
    grid-auto-flow: column;
    gap: 3em;
}

.nav__link-logo{
    text-decoration: none;
    color: #fff;
}
.nav__logo{
    font-size: 1.5em;
    font-weight: 900;
}

.strong__logo{
    color: #E04D01;
}

.nav__item{
    --clippy: polygon(0 0, 0 0, 0 100%, 0 100%);
}

.nav__a{
    color: #fff;
    text-decoration: none;
}

.nav__item::after{
    content: "";
    display: block;
    background-color: #fff;
    width: 100%;
    height: 3px;
    margin-top: 2px;
    clip-path: var(--clippy);
    transition: clip-path .4s;
}

.nav__item:hover{
    --clippy: polygon(0 0, 100% 0, 100% 100%, 0 100%);
}

@media (max-width: 550px){
    .nav__img{
        height: 60px;
        width: 60px;
        margin-top: 30px;
    }

    .nav__label{
        display: block;
        cursor: pointer;
    }
    
    .nav__menu{
        position: fixed;
        top: 80px;
        bottom: 0;
        background-color: #251D3A;
        width: 100%;
        left: 0;
        display: flex;
        justify-content: space-evenly;
        flex-direction: column;
        align-items: center;
        clip-path: polygon(100% 0, 100% 0, 100% 100%, 100% 100%);
        transition: clip-path .4s ease-in-out;
    }

    .nav__a{
        font-size: 3.5rem;
        opacity: .5;
    }

    .nav__input:checked + .nav__menu{
        clip-path: polygon(100% 0, 0 0, 0 100%, 100% 100%);
    }

}